    </main>
    <footer class="bg-[#D32D27] h-26 text-white  p-6">
        <p>About</p>
        <p>Contact Us</p>
        <p class="text-center"> &copy;2023 Remizy LLA</p>
    </footer>
</body>
</html>